<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suicune.notasupna"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/upna_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.suicune.notasupna.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible"  >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity 
            android:name=".RecordActivity"
            android:label="@string/record_title" >
        </activity>
        <activity 
            android:name=".DetailsActivity"
            android:label="@string/subject" >
        </activity>
        <activity 
            android:name=".PreferencesActivity"
            android:label="@string/preferences" >
        </activity>
        <provider 
            android:name=".database.GradesDBProvider" 
            android:authorities="com.suicune.notasupna.GradesDBProvider" >
        </provider>
        <receiver 
            android:name=".helpers.AlarmStarter"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service 
            android:name=".helpers.GradesUpdater">
        </service>
    </application>

</manifest>